
.navimg{
    display: none;
}
.navbar .emp{
    display: none;
}
.overlay-text1{
    display: none;
}
.br{
    display: none;
}
.text2 br{
    display: none;
}
.Subscribe br{
display: none;
}
@media (max-width : 800px) {
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica', sans-serif;
    background-color: white;
    color: black;
    line-height: 1.6;
}

/* navbar */
.navbar {
    display: grid;
    grid-template-columns: auto  1fr auto auto;
  
    align-items: center;
    padding: 20px;
    margin-right: 5px;
    margin-left: 5px;
}

.nav-links {
  display: none;
}

.navimg {
    display: block;
}
.navimg img{
    width: 30px;
    height: 15px;
margin-left: 20px;
margin-top: 10px;
}

.navbar .emp{
    display: block;
}

.nav-button {
    padding: 10px 20px;
    text-transform: capitalize;
    background-color: lightgreen;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    
   
}

.nav-button:hover {
    background-color: lightgreen;
}

/* bg image */
.bg-img {
    margin: auto;
    border-radius: 20px;
    color: white;
    position: relative;
    width: 90%;
    height: 800px;
    background-image: url(images/hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.overlay-text {
   display: none;
}
.overlay-text1{
    display: block;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
}
.overlay-text1 span{
    color: green;
}


.overlay-list {
    list-style: none;
    position: absolurte;
    color: black;
    width: 100%;
}

.search-container {
    position: absolute;
   
  
    gap: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    width: 90%;
    padding: 20px;
    max-width: 1200px;
    margin-top: 930px;
    margin-left: 20px;
}

.options {
    width: 30%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 equally spaced buttons */
    gap: 10px;
}

.option-btn {
    padding: 10px 20px;
    border: 1px solid white;
    background-color: white;
    color: #333;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.option-btn.active,
.option-btn:hover {
    background-color: #28a745;
    color: white;
}

.search-bar {
    display: block;

  
    gap: 20px;
    align-items: center;
    width: 100%;
}

.search-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
    color: black;
}

select,
input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid aliceblue;
    border-radius: 4px;
}

.price-field {
    display: flex;
    flex-direction: column;
}



.search-btn {
    width: 35%;
    width: 250px;
    background-color: #28a745;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

/* video and text section */
.first-sec {
    display: grid;
    grid-template-columns: 1fr;
    gap: 70px;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 450px;
}

.first-sec img {
    width: 100%;
    border-radius: 20px;
    height: 350px;
}

.first-sec .text {
    width: 100%;
}

.first-sec .text p {
    color: gray;
    font-size: x-small ;
    line-height: 1.6;
     margin-top: 20px;
}

.first-sec .text h2 {
    width: 80%;
    font-size: medium;
}

.learnmore-btn {
    
    width: 15   0px;
    height: 40px;
    background-color: #28a745;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

/* text2 */
.text2 {
    display: grid;
    gap: 10px;
    text-align: center;
       margin: 0;

}

.text2 h3 {

    margin-bottom: 5px;
    font-size: medium;
    margin-top: 80px;
    
}

.text2 p {
    color: gray;
    width: 90%;
    font-size: x-small;

  
    margin-bottom : 80px;
  margin-left: 25px;
  margin-right: 200px;

}
.text2 br{
    display: block;
}
/* icons */
.icons{
    display: grid;
    grid-template-columns: 1fr;
    gap: 70px;
    align-items: center;
    width: 80%;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.icons i{
    background-color: lightgray;
    border-radius: 50%;
    padding:20px;
    color: #28a745;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: auto;
    margin-left: 115px;
    margin-bottom: 20px;

}
.icons h4{
    text-transform: capitalize;
    margin-bottom: 5px;
    text-align: center;
    font-size: medium;
}
.icons p{
    text-align: center;
    color: gray;
    width: 100%;
    font-size: x-small;
    margin: auto;
}
.card-grid {
    display: grid;
    grid-template-columns:1fr;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .card {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    position: relative;
  }
  .card:hover {
    transform: scale(1.05);
}
  
.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
  
  .card-content {
    padding: 15px;
  }
  
  .card h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .card-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .card-details span {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #666;
  }
  .card-details i{
    color: green;
  }
  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-footer .price {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  .card-footer .rating {
    color: #f39c12;
  }
  
  .card-footer .rating i {
    margin-right: 5px;
  }
  
  .card-favorite {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #e74c3c;
    cursor: pointer;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
  }
  
  .card-favorite:hover {
    color: #c0392b;
  }
/* text and btn */
.contactus-btn {
    width: 150px;
    
    background-color: #28a745;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    text-align: center; 
    margin-bottom: 200px;
}
/* Subscribe */
.Subscribe{
    width: 90%;
    margin: auto;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.5);
   position: absolute;
   margin-left: 20px;
   margin-top:-110px;
}
.Subscribe p{
    color: gray;
    font-size: small;
    text-align: center;
    margin-bottom: 40px;
}
.Subscribe input{
    width: 70%;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid gray;
}

.subscribe-btn{
    background-color: #28a745;
    padding: 15px;
   width: 100px ;
    border-radius: 20px;
    color: white;
    border: 0px;
}

/* footer */
footer{
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 0;
    background-color: #1a1a1a;
    color: white;
    line-height: 2.0;
}
footer img{
    width: 150px;
    margin-top: 200px;
}
footer i{
    color: green;
}
footer ul{
    list-style: none;
}
footer li{
    color: white;
    margin-left: 20px;

}
footer a{
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    font-size: 15px;
    transition: color 0.3s ease;
    margin-left: 20px;

    
}
footer h4{
    margin-left: 20px;

}
footer  a span{
    color: green;
  
}
footer hr{
    width: 100%;
    margin: 10%;
}
footer p{
    margin-left: 20px;
}
.under-footer{
    color: white;
    background-color: #1a1a1a;
    padding: 30px 40px;
    display: grid;
    grid-template-columns: 1fr ;
    align-items: center;
}
.under-footer p{
    text-align: center;
    margin-bottom: 40px;
}
.socailMedia{
    display: flex;
    justify-content: center;
    margin: 0 15px;
    text-decoration: none;
   
}
.socailMedia ul {
    padding: 0;
    margin: 0;
  }
.socailMedia li{
    border:1px solid  white;
    display: inline-block;
    list-style: none;
    padding: 5px;
    border-radius: 10px;
    font-size: 15px;

}

.socailMedia li:hover{
padding: 10px;
}
.text2 br{
    display: block;
}
.text2 span p{
margin-bottom: 5px;
}
.Subscribe br{
    display: block;
    }
}
