
.navimg{
    display: none;
}
.navbar .emp{
    display: none;
}
.overlay-text1{
    display: none;
}
.br{
    display: none;
}
@media (max-width : 800px) {
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica', sans-serif;
    background-color: white;
    color: black;
    line-height: 1.6;
}

/* navbar */
.navbar {
    display: grid;
    grid-template-columns: auto  1fr auto auto;
  
    align-items: center;
    padding: 20px;
    margin-right: 5px;
    margin-left: 5px;
}

.nav-links {
  display: none;
}

.navimg {
    display: block;
}
.navimg img{
    width: 30px;
    height: 15px;
margin-left: 20px;
margin-top: 10px;
}

.navbar .emp{
    display: block;
}

.nav-button {
    padding: 10px 20px;
    text-transform: capitalize;
    background-color: lightgreen;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    
   
}

.nav-button:hover {
    background-color: lightgreen;
}

/* bg image */
.bg-img {
    margin: auto;
    border-radius: 20px;
    color: white;
    position: relative;
    width: 90%;
    height: 800px;
    background-image: url(images/hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.overlay-text {
   display: none;
}
.overlay-text1{
    display: block;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
}
.overlay-text1 span{
    color: green;
}


.overlay-list {
    list-style: none;
    position: absolurte;
    color: black;
    width: 100%;
}

.search-container {
    position: absolute;
   
  
    gap: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    width: 90%;
    padding: 20px;
    max-width: 1200px;
    margin-top: 930px;
    margin-left: 20px;
}

.options {
    width: 30%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 equally spaced buttons */
    gap: 10px;
}

.option-btn {
    padding: 10px 20px;
    border: 1px solid white;
    background-color: white;
    color: #333;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.option-btn.active,
.option-btn:hover {
    background-color: #28a745;
    color: white;
}

.search-bar {
    display: block;

  
    gap: 20px;
    align-items: center;
    width: 100%;
}

.search-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
    color: black;
}

select,
input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid aliceblue;
    border-radius: 4px;
}

.price-field {
    display: flex;
    flex-direction: column;
}



.search-btn {
    width: 35%;
    width: 250px;
    background-color: #28a745;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

/* video and text section */
.first-sec {
    display: grid;
    grid-template-columns: 1fr;
    gap: 70px;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 450px;
}

.first-sec img {
    width: 100%;
    border-radius: 20px;
    height: 350px;
}

.first-sec .text {
    width: 100%;
}

.first-sec .text p {
    color: gray;
    font-size: x-small ;
    line-height: 1.6;
     margin-top: 20px;
}

.first-sec .text h2 {
    width: 80%;
    font-size: medium;
}

.learnmore-btn {
    
    width: 15   0px;
    height: 40px;
    background-color: #28a745;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

/* text2 */
.text2 {
    display: grid;
    gap: 10px;
    text-align: center;
       margin: 0;

}

.text2 h3 {

    margin-bottom: 5px;
    font-size: medium;
    margin-top: 80px;
    
}

.text2 p {
    color: gray;
    width: 90%;
    font-size: x-small;

  
    margin-bottom : 80px;
  margin-left: 25px;
  margin-right: 200px;

}
.text2 br{
    display: block;
}
/* icons */
.icons{
    display: grid;
    grid-template-columns: 1fr;
    gap: 70px;
    align-items: center;
    width: 80%;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.icons i{
    background-color: lightgray;
    border-radius: 50%;
    padding:20px;
    color: #28a745;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: auto;
    margin-left: 115px;
    margin-bottom: 20px;

}
.icons h4{
    text-transform: capitalize;
    margin-bottom: 5px;
    text-align: center;
    font-size: medium;
}
.icons p{
    text-align: center;
    color: gray;
    width: 100%;
    font-size: x-small;
    margin: auto;
}
}
